body {
    background-color: #f0f0f0; /* Um cinza claro */
}

/* Cores do Tottenham: Preto e Branco */
.bg-dark {
    background-color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.card-title {
    font-weight: bold;
}

.btn-dark {
    background-color: #000;
    border-color: #000;
}

.btn-dark:hover {
    background-color: #333;
    border-color: #333;
}

.btn-outline-secondary {
    border-color: #333;
    color: #333;
}

.btn-outline-secondary:hover {
    background-color: #333;
    color: #fff;
}

.btn-outline-danger {
    color: #e74c3c;
    border-color: #e74c3c;
}

.btn-outline-danger:hover {
    background-color: #e74c3c;
    color: #fff;
}

/* NOVOS ESTILOS PARA O CONFRONTO */
.matchup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 5px;
}

.team-name {
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
}

.vs-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}